* {
    margin: 0px;
}

body {
    margin: 0px;
    background-color: dodgerblue;
}

#main-div {
    width: 100vh;
    height: 70vh;
    margin: auto;
    margin-top: 5vh;
}

h1 {
    font-size: 3rem;
    margin: auto;
    text-align: center;
    width: 100%;
}

#input-section {
    font-size: 1.5rem;
    margin: 20px auto;
    text-align: center;
    width: 100%;
}

.squares {
    display: grid;
    border: 10px solid black;
    background-color: white;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(70, 252, 85);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(131, 211, 138);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btn:hover::before {
    transform: translateX(0);
   }

.square-div {
    padding: 2px;
    border: 2px solid whitesmoke;
}

.grid-div:hover {
    background-color: greenyellow;
}

.square-hovered {
    background-color: greenyellow;
}